# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Test output
test_report.txt
coverage/
htmlcov/
*.cover
.cache/
.noseids
*.xml
*.json

# Pycharm
*.iml
*.ipr
*.iws
.idea/
